<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="css/stlyes.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
    <h1>Help</h1>
    </div>
    
    {{>footer}}

</body>
</html>