<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/stlyes.css">
</head>
<body>
    <div class="main-content">
         {{>header}}
    <p>Use this site to get your weather!</p>
    </div>
   
    {{>footer}}

</body>
</html>